<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.dotcom.rbs_system">

    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".Rbs_options"
            android:theme="@style/AppTheme.no"/>
        <activity android:name=".RBS_mainscreen" />
        <activity android:name=".Stock_entry" />
        <activity
            android:name=".VendorMainScreen"
            android:label="Vendor System" />
        <activity
            android:name=".BuyLocal_conversations"
            android:theme="@style/AppTheme.no" />
        <activity
            android:name=".SearchResult"
            android:theme="@style/AppTheme.no" />
        <activity
            android:name=".BuyLocal_messaging"
            android:theme="@style/AppTheme.no" />
        <activity
            android:name=".RBS_Smart_Share_Categories_Details"
            android:theme="@style/AppTheme.no" />
        <activity
            android:name=".Smart_Share"
            android:theme="@style/AppTheme.no" />
        <activity
            android:name=".BuyLocal_shopkeeperProductDetails"
            android:theme="@style/AppTheme.no" />
        <activity
            android:name=".Shopkeeper_Products_offers_list"
            android:theme="@style/AppTheme.no" />
        <activity
            android:name=".BuyLocal_shopkeeper_shop"
            android:theme="@style/AppTheme.no" />
        <activity
            android:name=".BuyLocal_profile_edit"
            android:theme="@style/AppTheme.no" />
        <activity
            android:name=".Buylocal_category_products"
            android:theme="@style/AppTheme.no" />
        <activity
            android:name=".BuyLocal_productdetails"
            android:theme="@style/AppTheme.no">
            <tools:validation testUrl="http://buyLocalrbstest.com/productdetails" />

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="buyLocalrbstest.com"
                    android:pathPrefix="/productdetails"
                    android:scheme="http" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Registration"
            android:theme="@style/AppTheme.no" />
        <activity
            android:name=".BuyLocal_main"
            android:theme="@style/AppTheme.no" />
        <activity
            android:name=".Accessory_sale"
            android:theme="@style/AppTheme.no" />
        <activity
            android:name=".Vendor_detail"
            android:theme="@style/AppTheme.no" />
        <activity
            android:name=".Accessory_add"
            android:theme="@style/AppTheme.no" />
        <activity
            android:name=".Customer_history"
            android:theme="@style/AppTheme.no" />
        <activity
            android:name=".Item_history"
            android:theme="@style/AppTheme.no" />
        <activity
            android:name=".Repair_details"
            android:theme="@style/AppTheme.no" />
        <activity
            android:name=".Repair_Ticket"
            android:theme="@style/AppTheme.no" />
        <activity
            android:name=".Settings"
            android:theme="@style/AppTheme.no" />
        <activity
            android:name=".Accessories"
            android:theme="@style/AppTheme.no" />
        <activity
            android:name=".Customer_details"
            android:theme="@style/AppTheme.no" />
        <activity
            android:name=".Item_detail"
            android:theme="@style/AppTheme.no" />
        <activity
            android:name=".Exchange"
            android:theme="@style/AppTheme.no" />
        <activity
            android:name=".Repairs"
            android:theme="@style/AppTheme.no" />
        <activity
            android:name=".Sale"
            android:theme="@style/AppTheme.no" />
        <activity
            android:name=".SplashActivity"
            android:theme="@style/AppTheme.no">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SignInActivity"
            android:theme="@style/AppTheme.no" />
        <activity
            android:name=".Buy"
            android:theme="@style/AppTheme.no" />
    </application>

</manifest>