<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.dotcom.rbs_system">

    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".Accessory"
            android:exported="true" />
        <activity
            android:name=".Invoice_preview_repair_ticket"
            android:exported="true"
            android:theme="@style/AppTheme.no" />
        <activity
            android:name=".Invoice_preview"
            android:exported="true"
            android:theme="@style/AppTheme.no" />
        <activity
            android:name=".Shopkeeper_details"
            android:theme="@style/AppTheme.no" />
        <activity
            android:name=".BuyLocal_offers_option"
            android:theme="@style/AppTheme.no"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".PasscodeActivity"
            android:theme="@style/AppTheme.no" />
        <activity
            android:name=".Rbs_vendor_specific_order"
            android:theme="@style/AppTheme.no" />
        <activity
            android:name=".RBS_Vendors"
            android:theme="@style/AppTheme.no" />
        <activity
            android:name=".Rbs_vendor_order_receipt"
            android:theme="@style/AppTheme.no" />
        <activity
            android:name=".Vendor_Users_list"
            android:theme="@style/AppTheme.no" />
        <activity android:name=".RBS_mainscreen" />
        <activity
            android:name=".Vendor_shopkeepers_orders_progress"
            android:theme="@style/AppTheme.no" />
        <activity
            android:name=".VendorShopkeepersShopReceipts"
            android:theme="@style/AppTheme.no" />
        <activity
            android:name=".Vendor_stock_entry"
            android:theme="@style/AppTheme.no" />
        <activity
            android:name=".VendorMainScreen"
            android:label="Vendor System" />
        <activity
            android:name=".BuyLocal_conversations"
            android:theme="@style/AppTheme.no" />
        <activity
            android:name=".SearchResult"
            android:theme="@style/AppTheme.no" />
        <activity
            android:name=".BuyLocal_messaging"
            android:theme="@style/AppTheme.no" />
        <activity
            android:name=".RBS_Shopkeeper_Inventory_Details"
            android:theme="@style/AppTheme.no" />
        <activity
            android:name=".BuyLocal_shopkeeper_shop"
            android:theme="@style/AppTheme.no" />
        <activity
            android:name=".BuyLocal_profile_edit"
            android:theme="@style/AppTheme.no" />
        <activity
            android:name=".Buylocal_category_products"
            android:theme="@style/AppTheme.no"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".BuyLocal_productdetails"
            android:theme="@style/AppTheme.no">
            <tools:validation testUrl="http://buylocalrbstest.com/productdetails" />

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="buylocalrbstest.com"
                    android:pathPrefix="/productdetails"
                    android:scheme="http" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Registration"
            android:theme="@style/AppTheme.no" />
        <activity
            android:name=".BuyLocal_main"
            android:theme="@style/AppTheme.no"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Accessory_sale"
            android:theme="@style/AppTheme.no" />
        <activity
            android:name=".RBS_accesories_vendor_detail"
            android:theme="@style/AppTheme.no" />
        <activity
            android:name=".Accessory_add"
            android:theme="@style/AppTheme.no" />
        <activity
            android:name=".Customer_history"
            android:theme="@style/AppTheme.no" />
        <activity
            android:name=".Item_history"
            android:theme="@style/AppTheme.no" />
        <activity
            android:name=".Repair_ticket_details"
            android:theme="@style/AppTheme.no" />
        <activity
            android:name=".Repair_Ticket"
            android:theme="@style/AppTheme.no" />
        <activity
            android:name=".Add_Customer"
            android:theme="@style/AppTheme.no" />
        <activity
            android:name=".Add_item"
            android:theme="@style/AppTheme.no" />
        <activity
            android:name=".AddRepairTicket"
            android:theme="@style/AppTheme.no" />
        <activity
            android:name=".Sale"
            android:theme="@style/AppTheme.no" />
        <activity
            android:name=".SplashActivity"
            android:theme="@style/AppTheme.no">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SignInActivity"
            android:theme="@style/AppTheme.no" />
        <activity
            android:name=".Buy"
            android:theme="@style/AppTheme.no" />
    </application>

</manifest>